:root {
    --color-neutral-lighter: #f4f4f4;
    --color-neutral-light: #ddd;
    --color-neutral-medium: #999;
    --color-neutral-dark: #444;

    --color-main-lighter: #ebeff6;
    --color-main-light: #DDE4F0;
    --color-main-medium: #9FA7E8;
    --color-main-dark: #606EDA;

    --color-sub-dark: #2d256b;
    --color-sub-medium: #375e99;
    --color-sub-light: #b7c7d7;

    --color-white: #fff;
    --color-black: #000;

    --header-height:  3rem;

    --font-sans: Roboto, Lato, Miso;
   --font-serif: Mukta, Georgia, serif;
}

* {
    box-sizing: border-box;
}



/* CORE ELEMENTS */
a {
   color: inherit;
   text-decoration: none;
   font-weight: bold;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-family:var(--font-sans);
}

h1 {
   font-size:1.5em;
   color: var(--color-main-dark);
}
h2 {
   font-size:1.25em;
   color: var(--color-main-dark);
}
h3 {
   font-size:1.15em;
   color: var(--color-main-medium);
}


h4 {
   font-size:1em;
   margin:1em 0;
   color: var(--color-sub-dark);
}
h5 {
   font-size:1.5em;
   margin:0;
   color: var(--color-sub-dark);

}
h6 {
   font-size:1em;
   margin:0;
   color: var(--color-main-dark);
}

p {
  font-size: 1em;

}




/* LAYOUT CLASSES */
.hidden { display:none; }

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }
.display-space-between { justify-content: space-between;  }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }
.flex-vertical { flex-direction:column; }
.flex-row { flex-direction: row; }
.flex-nowrap {flex-wrap: nowrap;}

.overscroll { overflow: auto; }
.overscroll-x { overflow-x: auto; }
.overscroll-y { overflow-y: auto; }

.fill-parent {
   width: 100%;
   height: 100%;
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.background_circle {
  width: 2.5em;
  height: 2.5em;
  background-color: var(--color-white);
  border-radius: 50%;
  margin-top: -2.5em;
}

.icon-profile img {
  margin-left: 0.5em;
  margin-bottom: 0.3em;
}

.centered { text-align:center; }
.small { font-size: 0.8em; }

/* PAGE ELEMENTS */
.ui-mobile .ui-page-active {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
}

[data-role="main"] {
   flex: 1 1 100%;
   position: relative;
   overflow: hidden;
}
.header, 
[data-role="header"],
[data-role="footer"] {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: var(--color-white);
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   position: relative;
   overflow: hidden;
}

.modal-header {
   flex: none;
   height: var(--header-height);
   line-height: var(--header-height);
   border-width: 0;
   background-color: var(--color-white);
   box-shadow: 0 0 5px rgba(0,0,0,0.2);
   position: relative;
   
}


.header ul,
[data-role="header"] ul,
[data-role="footer"] ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
}
[data-role="footer"] li {
   flex: 1 1 auto;
   text-align: center;
}

.header a,
[data-role="header"] a {
   font-family: var(--font-sans);
   display: block;
}

[data-role="footer"] a {
  margin-top: 10px;
}

.header a,
[data-role="header"] a {
   padding: 0 1em;
}

a.js-submituseredit.ui-link,
a.js-submituserpassword.ui-link {
  color: var(--color-main-dark);
}

.ui-header .ui-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   margin: 0;
   font-size: 1rem;
   padding: 0;
}


.icon {
   width: 1em;
   height: 1em;
   display: inline-block;
  
}


input 
.form-button {
  margin-top: 2em;
}


.icon-profile {
    height: 2em;
    width: 2em;
    position: absolute;
    margin-left: 14em;
    margin-top: 8em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.icon-profile img {
  width: 2em;
}

.nav {
   list-style-type: none;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   display: flex;
}
.nav li {
   flex: 1 1 auto;
   padding: 0 1em;
   text-align: center;
   line-height: var(--header-height);
}


.icon {
   width: 1em;
   height: 1em;
   display: inline-block;
}



.nav-icon {
   display: block;
   line-height: 2rem;
   font-size: 1.5rem;
}
.nav-icon .icon {
   vertical-align: middle;
}
.nav-icon-label {
   font-family: var(--font-sans);
   display: block;
   line-height: 1rem;
   font-size: 0.7rem;
}

.nav-icon-set li.active {
   background-color: var(--color-main-lighter);
}

.profile-navs {
  font-family: var(--font-sans);
}

.animal-profile-middle li.active{
  font-family: var(--font-sans);
  color: var(--color-white);
  background-color: var(--color-main-medium): 
}


.ui-header .ui-title {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   margin: 0;
   font-size: 1rem;
   padding: 0;
}


.floating-header {
    position: absolute;
    background-color: rgba(255,255,255,0.15);
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: none;
}

/* Floater */
.floater { position:absolute; }
.floater.left { left:1em; }
.floater.right { right:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:3em; }
.floater.center {right:45%; left: 45%;}


/* Circle Button */
.btn-circle {
   display: inline-block;
   background-color: var(--color-main-dark);
   color: var(--color-white);
   width: 3rem;
   height: 3rem;
   line-height: 3rem;
   text-align: center;
   font-size: 2.4rem;
   border-radius: 2em;
   box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

button.form-button.ui-btn.ui-shadow.ui-corner-all {
  font-family: var(--font-sans);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  border-radius: 1em;
  background-color: #fefefe;
  margin: 50% auto; /* 15% from the top and centered */
  padding: 15px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  margin-top: 0;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




/* MODAL */
/*.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   opacity: 0;
   transition: all 0.3s;
}
.modal.active {
   pointer-events: initial;
   opacity: 1;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}
.modal-back.transparent {
   background-color: transparent;
}

/* Modal Popup */
/* MODAL */
/*.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   opacity: 0;
   transition: all 0.3s;
}
.modal.active {
   pointer-events: initial;
   opacity: 1;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}
.modal-back.transparent {
   background-color: transparent;
}*/

/* Modal Popup */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    border-radius: 5px;
    width: 80vmin;
    overflow: hidden;
    transition: all 0.3s;
}
.modal-body {
    height: auto;
    overflow: hidden;
    background-color: var(--color-white);
}
.modal-head,
.modal-foot {
    background-color: var(--color-neutral-light);
    line-height: 2rem;
    padding: 0 1em;
}
.modal.active .modal-popup {
   transform: translate(-50%,-50%);
}



/* Modal Drawer */
/*.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height: 40vh;
   width: 100%;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform: translate(0);
}

.modal-drawer.basin {
   height: 30vh;
   padding: 1em;
   box-shadow: none;
}
.modal-drawer.basin .modal-body {
   box-shadow: 0 0 5px rgba(0,0,0,0.15);
   border-radius: 1em;
}

.modal-drawer .modal-body {
   flex: 1 1 100%;
}*/


/*.form-control~.form-control {
  border-top: 0.2em solid grey;
}*/



.icon {
   width: 1em;
   height: 1em;
   display: inline-block;
}


/* FORM ELEMENTS */
.form {}
.form-control {
   margin: 1em 0;
}

.form-control a {
  font-family: var(--font-sans);
}

.form-control input {
  font-family: var(--font-sans);
}

.form-control {
  font-family: var(--font-sans);
}
.form-input {
    width: 100%;
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
}
.form-button {
    width: 100%;
    color: var(--color-white);
    display: inline-block;
    border-width: 0;
    background-color: var(--color-main-dark);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.form-select {
  width: 100%;
    display: inline-block;
    border: 1px solid var(--color-neutral-medium);
    margin: 0;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
}

.form-label{
  color: var(--color-neutral-medium);
  font-size: 0.9em;
}

.ui-select {
  position: relative;
  margin: 0;
}

.ui-btn {
    font-size: 16px;
    margin: .5em 0;
    padding: .5em 0.8em;
    display: block;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-select .ui-btn>span:not(.ui-li-count) {
    text-align: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden!important;
    white-space: nowrap;
}


.hotdog {
   padding: 0.5em 1em;
   display: inline-flex;
   width: 100%;
   border-radius: 2em;
   position: relative;
}
   .hotdog.white {
      background-color: var(--color-white);
   }
   .hotdog.medium {
      background-color: var(--color-neutral-lighter);
   }
   .hotdog input {
      border-width: 0;
      background-color: transparent;
      border-radius: 0;
      -webkit-appearance: none;
      font: inherit;
      color: inherit;
      outline: 0;
      flex: 1 1 auto;
      padding: 0;
      margin: 0;
      line-height: 1;
   }
   .search-bar .hotdog {
      height: 100%;
   }

button {
  border: none;
  background-color: white;
}

.cat-form-input {
    width: 100%;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid var(--color-neutral-medium);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
}

.cat-form-button {
    width: 100%;
    display: inline-block;
    border-width: 0;
    color: var(--color-white);
    background-color: var(--color-main-dark);
    margin: 0;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    outline: 0;
    font: inherit;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.cat-edit-form {
  margin-top: 2em;
}



/*NAV BAR ELEMENTS*/

.navbarimage{
  width: 15px;
  margin: 0 auto;
}

.wrapper {
  position: absolute;
  margin: 0.9em 0 0.3em 0;
  background: transparent;
  max-width: 300px;
  width: 100%;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;

}

.wrapper .searchbtn {
  width: 85%;
  padding: 1em 0 0 1.8em;
  border: none;
  position: absolute;

}

.wrapper .searchbtn img {
  width: 0.8em;
}

.wrapper_list {
  position: relative;
  margin: 0.9em 0 0.3em 0;
  background: transparent;
  max-width: 300px;
  width: 100%;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;

}

.wrapper_list .searchbtn {
  width: 85%;
  padding: 1em 0 0 1.8em;
  border: none;
  position: absolute;

}

.wrapper_list .searchbtn img {
  width: 0.8em;
}



.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
    border-radius: 1em;
    width: 20em;
    margin-left: 1em;
    }




.ui-input-text input, .ui-input-search input {
    margin: 0;
    min-height: 2.2em;
    padding-left: 2.5em;
    border: 0;
    background-color: var(--color-white);
    -webkit-appearance: none;
    -webkit-border-radius: inherit;
    border-radius: inherit;
  }


  .ui-input-text, .ui-input-search {
    margin: .5em 0;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-neutral-medium);
}



/*LIST PAGE*/
.heading {
  margin-left: 2em;
}


.animallist {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 0;
   padding: 1em;
   gap: 1.5em;
}



/*.animallist-item~.animallist-item {
   margin-left: 1.5em;
}*/
.animallist-item a {

    border-radius: 1em;
    overflow: hidden;
    font-weight: normal;
}
.animallist-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: none;
    border-radius: 10%;
}
.animallist-item-description {
}
/*.animallist-item-name {
   font-size: 1.5em;
   padding-top: 0.6em;
   padding-left: 0.3em;
}*/
/*.animallist-item-type,
.animallist-item-breed {
   font-size: 0.9em;
   padding-left: 0.4em;
}
*/

.animallist-item-body {
  margin-left: 1em;
}

.animallist-item-name {
  font-family: var(--font-sans);
}

.animallist-item-breed {
  font-family: var(--font-sans);
}



/* ANIMAL PROFILE */
.animal-profile-top {
   flex: none;
   height: 33vh;
   position: relative;
}
.animal-profile-bottom {
   flex: 1 1 auto;
   position: relative;
}
.animal-profile-bottom .section {
   display: none;
}
.animal-profile-bottom .section.active {
   display: block;
}
.animal-profile-middle li.active {
   background-color: var(--color-main-medium);
}

.floating-header {
   position: absolute;
   background-color: rgba(255,255,255,0.15);
   width: 100%;
   top: 0;
   left: 0;
   box-shadow: none;
}


.animal-popup-image,
.animal-popup-body {
   pointer-events: none;
   margin-right: 0.5em;
}
.animal-popup-image img {
   max-width: 50px;
}

.user-profile-image {
  margin: 0 auto;
}

.profile-image {
   border-radius: 50%;
   width: 10em;
   height: 10em;
   margin-left: 7em;
   margin-top: 1em;
   object-fit: cover;
}

.animal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 1em;
}


.description.display-flex.flex-horizontal {
  gap: 2.8em;
  margin-top: 1em;
}

.description-box~.description-box {
  border-left: 0.1em solid grey;
  padding-left: 1.3em;


}

.health-status.display-flex.flex-horizontal {
  gap: 1.5em;
}



.health-description~.health-description {

  padding-left: 0.8em;


}

.edit-delete-image {
  margin-top: 0.3em
}
.edit-delete-image img{
  width: 20px;
  height: 20px;
}


.profile-page-description {
  color: var(--color-neutral-dark);

}



/*USER PROFILE PAGE*/

.user-profile img{
  margin-left: 6em;
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: none;
    border-radius: 50%;

}



.map {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.animal-popup-image,
.animal-popup-body {
   pointer-events: none;
}
.animal-popup-image img {
   max-width: 50px;
}


.filter-list {
  margin: 0 5em;
}


.search-bar {
   box-shadow: none;
   z-index: 2;
   padding: 0.2em 0.5em;
}
.filter-bar {
   display: flex;
   width: 100%;
   overflow-x: auto;
   gap: 1em;

}
.ar a {
   padding: 0;
}


.modal-filter-bar {
  padding: 0 1em;
  width: 100%;
  gap: 1em;
}

.modal-filter-bar a {
   padding: 0;
}



.image-picker.replace {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}
.image-picker.replace input {
   display: none;
}

.thumbnail {
  position:relative;
  display:inline-block;
  width:6em;
  height:6em;
  border-radius:0.6em;
  border:0.25em solid white;
  vertical-align:middle;
  box-shadow:0 0.15em 0.35em 0.1em rgba(0,0,0,0.2);
  margin:0.5em;
  
  background-position:center;
  background-size:cover;
}
.thumbnail input {
   display: none;
}


/*Settings Page Modal*/

.lab-modal-body h1 {
  font-size: 4rem;
}

.lab-modal-body p {
  margin: 0 0 1.62rem 0;
  line-height: 1.62;
  font-weight: 300;
  font-size: 1.62rem;
  color: #666;
}

.lab-modal-body {
  height: 21.5em;
  position: relative;
  bottom: -20em;
  margin: 150px auto 0;
  padding: 1.5em 1em;
  background-color: var(--color-white);
  border: 1px solid #BEBEBE;
/*  opacity: 0;*/
  -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}

.close {
/*  margin-top: -20px;
  margin-right: -20px;
  text-shadow: 0 1px 0 #ffffff;*/
}

.popup-button {
  margin-top: 70px;
}


.nav-page-links {
  line-height: 2.5em;
  padding-left: 2em;
}


.nav-page-links li{
  list-style: none;
}

.nav-page-links li a{
  font-family: var(--font-sans);
  font-weight: 500;
  margin-left: 1em;
}

.logout {
  position: relative;
  top: 8em;
  background-color: var(--color-main-dark);
  border: 1px solid var(--color-main-dark);
  border-radius: 5px;
  color: var(--color-white);
}

.logout a {
  font-weight: 400;
}
